<ion-view title="Travelator">
  <ion-content class="has-header padding vert-align" style="width:100%">
    <div class="row" style="height:10em"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <center><button class="button button-light" ng-click="new();">New Itinerary</button></center>
      </div>
      <div class="col"></div>
    </div>
    <!--
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <center>
        <button class="button button-light">Load Last Itinerary</button>
        </center>
      </div>
      <div class="col"></div>
    </div>
  -->
  </ion-content>
</ion-view>
